

body {
  font-family: 'SF Pro';
  padding: 50px;
}



:root{
  --text-color: #f2f3f7;
  --heading-color: #202021;
  --secheading: #3f3f40;
  --primary-color: #7b14cf;
  --secondory-color: #cd92e8;
  --neon-box-shadow:0 0 .5rem#662796;
}

body{
  background-color: var(--heading-color);
  color: var(--text-color);
  overflow: hidden;
}

h1{
  text-align: center;
}

.todo-wrapper{
  background:var(--secheading);
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow:var(--neon-box-shadow) ;
  border-radius: 20px;
}
.todo-input{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-bottom:1px solid var(--heading-color) ;
  padding-bottom: 25px;
  margin-bottom: 25px;
  
}
.todo-input-item{
  display: flex;
  flex-direction: column;
  
  margin-right:25px ;
  outline: none;
}

.todo-input-item label{
padding-bottom: 10px;

}
.todo-input-item input{
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

.todo-input-item input:focus{

  outline: 2px solid var(--secondory-color);
}
.primaryBtn{
  background: var(--primary-color);
  color: white;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
  border: none;
  
}
.seconBtn{
  background: rgb(66, 70, 66);
  color: white;
  border-radius: 2px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  border: none;
}
.active{
  background: var(--primary-color);
}


.todo-list{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.btn-area{
  margin-bottom:15px ;
}
.todo-list-item{
background-color:#2d2d2f ;
height: auto;
justify-content: space-between;
padding: 25px;
padding-bottom: 10px;
padding-top: 10px;  
margin-bottom: 10px;
align-items: center;
box-shadow: 0 0 10px rgba(250, 244, 244, 0.1);
border-radius: 5px;


}
.todo-list-item h3{
  font-size: 25px;
  color: var(--primary-color);
  font-weight: bold;
  margin: 0;

}

.todo-list-item p{
  font-size: 14px;
  color: #d2d2d4;
  margin-top: 8px;
}

.icon{
  font-size: 25px;
  cursor: pointer;
}
.icon:hover{
  color: rgb(245, 60, 60);
}
.check-icon{
  font-size: 25px;
  margin-left: 10px;
  color: var(--primary-color);
  font-size: 35px;
  
 


}
.check-icon:hover{
  color:var(--secondory-color);
}
.todo-icons {
  display: flex;
  gap: 8px;
justify-content: end;
 
 
}